﻿<div class="ui container">
    <section class="ui grid">
        <div class="equal width seven">
            <section data-bind="compose:'treelist/tree.html'"></section>
        </div>
        <div class="nine wide column"></div>
    </section>
</div>

